<h1>Add a New Pet for Adoption</h1>
<form action='/pets/add' method="POST">
    <label for="name">Enter Pet Name: </label>
    <input type="text" name="name" placeholder="Enter Name" /><br>
    
    <label for="breed">Enter Breed Name: </label>
    <input type="text" name="breed" placeholder="Enter Breed" /><br>


    <label for="description">Enter Pet Description: </label>
    <input type="text" name="description" placeholder="Enter Description" /><br>

    <label for="imgUrl">Enter Pet Picture: </label>
    <input type="text" name="imgUrl" placeholder="Enter Picture" /><br>

    <button type="submit" class="view-details-btn">Add Item</button>
     <a href="/pets">Back to Home Page</a>
</form>